<a href="https://colab.research.google.com/github/sumayyasyeda/sumayyasyeda/blob/main/python_day_1_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import numpy  as np
import pandas as pd
import datetime

DataFrame

In [37]:
students=['Alice','Bob','Emily','Charlie']

In [38]:
scores=[90,80,65,50]

In [39]:
exam_results=pd.DataFrame(
  {
      "Name":students,
      "Scores":scores
  }
)

In [40]:
exam_results

      Name  Scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

selecting particular value

In [41]:
exam_results.loc[0,'Scores']

90

In [42]:
exam_results.loc[:,'Scores']

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

In [43]:
#finding pecific value that is 2
exam_results.loc[2,:]

Name      Emily
Scores       65
Name: 2, dtype: object

In [44]:
exam_results["Scores"]

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

In [45]:
#add column to existing dataframe
gender=['male','female','male','female']
exam_results['gender']=gender
exam_results

      Name  Scores  gender
0    Alice      90    male
1      Bob      80  female
2    Emily      65    male
3  Charlie      50  female

In [34]:
exam_results.drop('gender2',axis=1)

      Name  Scores  gender
0    Alice      90    male
1      Bob      80  female
2    Emily      65    male
3  Charlie      50  female

In [46]:
#column names and row indexes
exam_results.columns

Index(['Name', 'Scores', 'gender'], dtype='object')

In [47]:
exam_results.describe()

       Scores
count    4.00
mean    71.25
std     17.50
min     50.00
25%     61.25
50%     72.50
75%     82.50
max     90.00

In [52]:
#renaming the column
exam_results.rename({'Name':'FirstName'},axis=1)

  FirstName  Scores  gender
0     Alice      90    male
1       Bob      80  female
2     Emily      65    male
3   Charlie      50  female

In [54]:
#dealing with missing values
sparse=pd.DataFrame (
    {
    'a':[1,2,3],
    'b':[np.nan,4,np.nan],
     'c':[5,np.nan,np.nan]
}
)

In [55]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [56]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [78]:
sparse.fillna(1)

   a    b    c
0  1  1.0  5.0
1  2  4.0  1.0
2  3  1.0  1.0

In [58]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

In [59]:
exam_results.groupby('gender').mean()

        Scores
gender
female    65.0
male      77.5

In [60]:
mylist=[1,2,1,2]
exam_results.groupby(mylist).get_group(1)

    Name  Scores gender
0  Alice      90   male
2  Emily      65   male

In [61]:
mylist=[1,2,1,2]
exam_results.groupby(mylist).get_group(2)

      Name  Scores  gender
1      Bob      80  female
3  Charlie      50  female

In [63]:
#group the people who obtaines marks above or below 70
above_70=exam_results['Scores']>70

In [65]:
above_70

0     True
1     True
2    False
3    False
Name: Scores, dtype: bool

In [77]:
exam_results.groupby(above_70).mean()

        Scores
Scores
False     57.5
True      85.0

In [66]:
exam_results

      Name  Scores  gender
0    Alice      90    male
1      Bob      80  female
2    Emily      65    male
3  Charlie      50  female

In [67]:
below_70=exam_results['Scores']<70
below_70

0    False
1    False
2     True
3     True
Name: Scores, dtype: bool

In [70]:
#the mean scores of the students who scored above or below 70
exam_results.groupby('gender').mean()

        Scores
gender
female    65.0
male      77.5

In [72]:
contacts=pd.DataFrame(
    {
        'Name':['Alice','Charlie'],
        'tel':['+91 999 999 99 99','+91 888 888 88 88']
         
    }
)

In [73]:
contacts

      Name                tel
0    Alice  +91 999 999 99 99
1  Charlie  +91 888 888 88 88

In [75]:
#merging(default inner join)
exam_results.merge(contacts,left_on='Name',right_on='Name')

      Name  Scores  gender                tel
0    Alice      90    male  +91 999 999 99 99
1  Charlie      50  female  +91 888 888 88 88

In [76]:
exam_results.merge(contacts,left_on='Name',right_on='Name',how='outer')

      Name  Scores  gender                tel
0    Alice      90    male  +91 999 999 99 99
1      Bob      80  female                NaN
2    Emily      65    male                NaN
3  Charlie      50  female  +91 888 888 88 88